<li class="todo-item" [znOverdue]="todo" [class.done]="todo.done">
  <input
    type="checkbox"
    [checked]="todo.done"
    (change)="toggled.emit(todo.id)"
    [attr.aria-label]="'Marquer « ' + todo.title + ' » comme terminée'"
  />
  <div>
    <div class="title">{{ todo.title }}</div>
    <div class="meta">
      <span class="badge" [ngClass]="todo.priority">{{ priorityLabels[todo.priority] }}</span>
      <span>{{ todo.dueDate | relativeDue }}</span>
      <zn-tag-chip *ngFor="let id of todo.tags" [color]="tagColor(id)">{{ tagLabel(id) }}</zn-tag-chip>
    </div>
  </div>
  <div class="actions">
    <a class="btn btn-sm" [routerLink]="['/todos', todo.id]">Éditer</a>
    <button class="btn btn-sm btn-danger" type="button" (click)="removed.emit(todo.id)">Supprimer</button>
  </div>
</li>
